nav {
  padding: 15px 0px 10px 0px;
  border-bottom: 1px solid #2dd06e;
}

nav .container .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container .row .col-12 .menu-btn {
  background: transparent;
  border: unset;
  font-size: 22px;
  color: #4d4d4d;
  display: none;
  margin-right: 30px;
}

nav .container .row .col-12 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .row .col-12 .logo span {
  color: #2dd06e;
  font-size: 34px;
  font-weight: 500;
  margin-left: 15px;
}

nav .container .row .col-12 .search {
  background-color: #f2f2f2;
  border: 1px solid #e0e0e0;
  width: 590px;
  padding: 6px 10px;
  border-radius: 8px;
}

nav .container .row .col-12 .search i {
  color: #828282;
}

nav .container .row .col-12 .search input {
  background-color: transparent;
  border: unset;
  margin-left: 10px;
  width: 90%;
}

nav .container .row .col-12 .search input:focus-visible {
  outline: none;
}

nav .container .row .col-12 .users ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: unset;
  margin: unset;
}

nav .container .row .col-12 .users ul li {
  margin-left: 20px;
  color: #231f20;
}

nav .container .row .col-12 .users ul .user {
  margin: unset;
}

nav .container .row .col-12 .users ul .cart {
  position: relative;
}

nav .container .row .col-12 .users ul .cart span {
  position: absolute;
  top: -5px;
  left: 15px;
  padding: 6px;
  background-color: #2dd06e;
  font-size: 8px;
  color: white;
  border-radius: 50%;
}

nav .container .row .col-12 .navbar {
  margin-top: 10px;
}

nav .container .row .col-12 .navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: unset;
  margin: unset;
}

nav .container .row .col-12 .navbar .nav-items .nav-item {
  font-size: 14px;
  margin-right: 50px;
}

@media (max-width: 576px) {
  nav {
    padding: 20px;
  }
  nav .container .row .col-12 {
    padding-left: unset;
  }
  nav .container .row .col-12 .menu-btn {
    display: inline-block;
  }
  nav .container .row .col-12 .search {
    display: none;
    width: 330px;
  }
  nav .container .row .col-12 .navbar {
    display: none;
  }
}

header .container .carousel-indicators button {
  background: #2dd06e;
  width: 10px;
  height: 10px;
  border: unset;
  border-radius: 50%;
}

header .container .carousel-inner {
  padding: 50px 0px;
}

header .container .carousel-inner .carousel-item .row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container .carousel-inner .carousel-item .row .col-12 h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

@media (max-width: 576px) {
  header .container .carousel-inner .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header .container .carousel-inner .row .col-12 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  header .container .carousel-inner .row .col-12 img {
    height: 220px;
    width: 230px;
  }
  header .container .carousel-inner .row .col-12 h2 {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

#products .container .row .header-product {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#products .container .row .header-product p {
  font-size: 20px;
  font-weight: 500;
}

#products .container .row .header-product button {
  font-size: 14px;
  background: transparent;
  border: unset;
  font-weight: 500;
}

#products .container .row .header-product button i {
  font-size: 12px;
  margin-left: 6px;
}

#products .container .row .col-12 {
  padding: unset;
}

#products .container .row .col-12 .productlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#products .container .row .col-12 .productlist .product-card {
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(164, 164, 164, 0.35);
          box-shadow: 0px 4px 8px 0px rgba(164, 164, 164, 0.35);
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 290px;
  margin: 0px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#products .container .row .col-12 .productlist .product-card .product-fovarite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#products .container .row .col-12 .productlist .product-card .product-fovarite button {
  background: transparent;
  border-radius: 50%;
  padding: 3px 7px;
  border: 1px solid #f2f2f2;
}

#products .container .row .col-12 .productlist .product-card .product-fovarite button i {
  color: #adadad;
}

#products .container .row .col-12 .productlist .product-card .prodct-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}

#products .container .row .col-12 .productlist .product-card .prodct-img img {
  width: 180px;
  height: 210px;
}

#products .container .row .col-12 .productlist .product-card .prodct-title h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

#products .container .row .col-12 .productlist .product-card .prodct-price span {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 576px) {
  #products .container .row {
    padding: 0px 12px;
  }
  #products .container .row .header-product {
    margin: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #products .container .row .header-product p {
    font-size: 18px;
    margin: unset;
  }
  #products .container .row .col-12 .productlist {
    overflow: auto;
    padding: 15px 0px;
  }
  #products .container .row .col-12 .productlist .product-card .product-fovarite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #products .container .row .col-12 .productlist .product-card .prodct-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 12px;
  }
  #products .container .row .col-12 .productlist .product-card .prodct-img img {
    width: 180px;
    height: 210px;
  }
  #products .container .row .col-12 .productlist .product-card .prodct-title h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  #products .container .row .col-12 .productlist .product-card .prodct-price span {
    font-size: 16px;
    font-weight: 500;
  }
  #products .container .row .col-12 .productlist::-webkit-scrollbar {
    display: none;
  }
}

footer {
  background-color: #262626;
  color: white;
  padding-top: 46px;
}

footer .footermain {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 90px;
}

footer .footermain h3 {
  padding-left: 30px;
}

footer .footermain .footer_icons > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  margin-bottom: 27px;
  color: #2dd06e;
}

footer .footermain .footer_icons > :nth-child(1) img {
  margin-right: 16px;
}

footer .footermain .footer_icons > :nth-child(2) {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footermain .footer_menu h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

footer .footermain .footer_menu ul {
  list-style: none;
}

footer .footermain .footer_menu ul li {
  margin-bottom: 16px;
}

footer .footermain .footer_help h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

footer .footermain .footer_help ul {
  list-style: none;
}

footer .footermain .footer_help ul li {
  margin-bottom: 16px;
}

footer .footermain .footer_connect h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

footer .footermain .footer_connect ul {
  list-style: none;
}

footer .footermain .footer_connect ul > :nth-child(1) span {
  color: #2dd06e;
}

footer .footermain .footer_connect ul li {
  margin-bottom: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footermain .footer_connect ul li span {
  display: inline-block;
  width: 245px;
}

footer .footermain .footer_connect ul li i {
  margin-right: 18px;
  margin-top: 5px;
}

footer .footermain .footer_connect ul > :nth-child(3) {
  margin-top: 25px;
}

footer .footerbottom {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

footer .footerbottom > span span {
  margin-right: 15px;
}

footer .footerbottom div > :nth-child(1) {
  margin-right: 40px;
}

@media (max-width: 600px) {
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer hr {
    display: none;
  }
  footer .footermain {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  footer .footermain ul {
    margin-bottom: 40px;
  }
  footer .footermain > div {
    margin-right: 0px;
  }
  footer .footermain .footer_icons {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 55px;
  }
  footer .footermain .footer_menu {
    margin-right: 0px;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    margin-left: -10px;
  }
  footer .footermain .footer_help {
    margin-right: 0px;
    text-align: center;
    margin-left: -10px;
  }
  footer .footermain .footer_connect h3 {
    text-align: center;
    margin-left: -10px;
  }
  footer .footerbottom {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0px;
  }
  footer .footerbottom div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid white;
    padding-bottom: 24px;
  }
  footer .footerbottom > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 68px;
  }
}

#advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 140px;
  padding-bottom: 135px;
}

#advantages div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#advantages img {
  width: 61px;
  color: #2dd06e;
  margin-bottom: 40px;
}

#advantages span {
  margin-bottom: 24px;
  color: #333333;
  font-size: 20px;
}

#advantages p {
  color: #333333;
}

@media (max-width: 600px) {
  #advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    padding-bottom: 73px;
  }
  #advantages div {
    width: 100%;
  }
  #advantages img {
    margin-bottom: 30px;
  }
  #advantages > :nth-child(1), #advantages > :nth-child(2) {
    margin-bottom: 55px;
  }
}

#advertise {
  margin: 60px 0px;
}

#advertise .container .row .col-12 img {
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 576px) {
  #advertise .container .row .col-12 {
    margin-top: 24px;
  }
}

#count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#count h3 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #303030;
}

#count span {
  color: #303030;
  margin-bottom: 24px;
}

#count a {
  color: #3366ff;
  text-decoration: none;
}

#count .count_first {
  width: 50%;
  margin-left: -15px;
}

#count .count_first > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 735px;
  background-color: #e4e9f2;
  padding: 40px;
  border-radius: 8px;
  background-image: url("../assets/Images/backgroundphone.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

#count .count_second {
  width: 50%;
  margin-right: -15px;
}

#count .count_second > :nth-child(1) {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 360px;
  background-color: #e4e9f2;
  padding: 40px;
  background-image: url("../assets/Images/backgroundwatch.png");
  background-repeat: no-repeat;
  background-position: 95% bottom;
  border-radius: 8px;
}

#count .count_second > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 360px;
  background-color: #e4e9f2;
  padding: 40px;
  background-image: url("../assets/Images/backgroundaccesories.png");
  background-repeat: no-repeat;
  background-position: 95% bottom;
  border-radius: 8px;
}

@media (max-width: 600px) {
  #count {
    padding: 0px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #count h3 {
    font-size: 13.3px;
  }
  #count span {
    font-size: 8.86px;
  }
  #count a {
    font-size: 8.86px;
  }
  #count .count_first {
    width: 100%;
    margin: 0px;
    margin-bottom: 16px;
  }
  #count .count_first > :nth-child(1) {
    padding: 22px;
    height: 420px;
    background-size: 100%;
    background-position: 100% 100%;
  }
  #count .count_second {
    width: 100%;
    margin: 0px;
  }
  #count .count_second > :nth-child(1) {
    height: 198px;
    margin-bottom: 16px;
    background-size: 141px 155px;
    background-position: 90% 100%;
    padding: 22px;
  }
  #count .count_second > :nth-child(2) {
    height: 198px;
    background-size: 184px 160px;
    background-position: 90% 100%;
    padding: 22px;
  }
}

#brands {
  padding: 75px 0px;
  text-align: center;
  background-color: #f5f5f7;
  height: 216px;
}

#brands .swiperslide {
  height: 80px;
  width: 176px;
  border-radius: 8px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  #brands {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */